<div class="chats">
  <div class="chats-list">
    <div class="chats-list__header">
      Список чатов
    </div>
    <div class="chats-list__content">
      {{{ chats }}}
    </div>
  </div>
  <div class="chats-chat">
    <div class="chats-chat__header">
      Андрей
    </div>
    <div class="chats-chat__content">
      {{{ messages }}}
    </div>
    <div class="chats-chat__input-container">
      {{{ input }}}
    </div>
  </div>
</div>
