<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <script type="module" src="{{script}}"></script>
    <title>{{title}}</title>
  </head>
  <body>
    {{> @partial-block }}
  </body>
</html>
